@font-face {
  font-family: BAN;
  src: url(/fonts/BAN-R.ttf);
}

@font-face {
  font-family: OPM-Light;
  src: url(/fonts/OverpassMono-Regular.ttf);
}

html, body {
  padding: 0;
  margin: 0;
}

@-ms-viewport {
  width: device-width;
  initial-scale: 1;
  maximum-scale: 1;
  user-scalable: 0;
}

header {
  font-family: BAN;
  background-color: #2A2A2E;
  border-style: solid;
  border-color: #2A2A2E;
}

#logo {
  width: auto;
  height: 2.188rem;
  display: inline;
}

#title {
  padding-left: 0.313rem;
  color: #FBDD11;
  display: inline;
  font-size: 2.5rem;
}

#hdr {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2A2A2E;
  color: #FBDD11;
  z-index: -1;
}





.g-recaptcha {
  z-index: -1;
  display: inline-block;
}

#reddit {
  font-family: BAN;
}

.inp {
  font-family: OPM-Light;
  width: 18.313rem;
}

#pick {
  font-family: BAN;
}

.option {
  font-family: BAN;
  width: 18.75rem;
}



.forms {
  padding-left: 0px;
}

.o {
  padding-left: 3.125rem;
  padding-top: -3.125rem;
}

#btnDIV {
  padding-top: 1.25rem;
}

#btn {
  width: 18.75rem;
}

#lbl {
  display: block;
}

hr {
  margin: auto;
  border-top: 0.313rem solid #FBDD11;
  border-bottom: 0.313rem solid #FBDD11;
  padding: 0;
}

.center {
  text-align: center;
  margin: auto;
}

#status {
  padding-top: 3.125rem;
  font-size: 1.875rem;
  font-family: BAN;
  position: fixed;
  width: 100%;
}

#info {
  padding-top: 2.813rem;
  font-family: BAN;
}

td, th {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  font-size: 1.063rem;
}

td {
  font-family: OPM-Light;
}

.t {
  padding-top: 1.125rem;
}

#status {
  padding-top: 7.5rem;
}

.disabled-element {
  opacity: 0.65;
  pointer-events: none;
}

#creeper {
  padding-top: 1.563rem;
  font-family: BAN;
}
h3{
  font-family: BAN;
  padding: 0;
  margin: 0;
}
#req{
  padding-top: 10px;
  width: 25rem;
  border-style: dashed;
  border-color: #FBDD11;
  font-family: BAN;
  margin: auto;
}
#reqt{
  padding-top: -10rem;
}
#reqh{
  padding-bottom: -10rem;
  margin: 0;
}
.m{
  font-family: BAN;
  font-size: 30px;
  padding-bottom: 20px;
}

#rate{
  font-family: BAN;
}

#ftr {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  margin: auto;
  height: auto;
  width: 100%;
}
#sup {
  font-family: BAN;
  float: left;
  
  margin: auto;
  width: 100%;
  padding-bottom: 0.313rem;
}
#addr {
  font-family: OPM-Light;
  
  margin: auto;
  bottom: 0rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 600px) {
  #rate{
    font-size: 5vw;
  }
  #req {
    width: calc(100% - 30px);
 }
 #info {
    padding-bottom: 30px;
  }
  #ftr{
    font-size: 3.9vw;
    white-space: nowrap;
  }
  #addr{
    font-size: 2.4vw;
  }
}
@media only screen and (min-width: 600px) {
  #rate{
    font-size: 22.5px; 
  }
  #ftr{
    font-size: 1.063rem;
  }
  #addr{
    font-size: 0.938rem;
  }
}

